/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Staatliches&display=swap');

body {
    font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--nunito-font-family);
    margin: 0;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    height: 100vh;
}

:root {
    --nunito-font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
}

.no-select {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                       supported by Chrome, Edge, Opera and Firefox */
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}

.content {
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.8rem;
    color: white;
    background-color: #19aaaf;
    box-shadow: 0px 4px 5px -0px rgba(128, 128, 128, 0.3);
    z-index: 0;
    white-space: nowrap;
}

.new-book-button,
.new-book-create,
.new-book-cancel {
    font-family: var(--nunito-font-family);
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 9999px;
    color: white;
    background-color: #25ad69;
    border: 2px solid white;
    height: 2rem;
    width: 8rem;
}
.new-book-button:hover,
.new-book-create:hover {
    background-color: #38c47e;
}
.new-book-button:active,
.new-book-create:active {
    background-color: #1e975b;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #ececec;
}

.book {
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr repeat(3, auto);
    text-align: center;
    background-image: linear-gradient(180deg, rgb(30, 216, 169), rgb(30, 216, 169) 8px, rgb(255, 255, 255) 8px);
    border-radius: 0.8rem;
    box-shadow: 0px 4px 5px -0px rgba(128, 128, 128, 0.3);
    height: 280px;
    border: 2px solid #3d3d3d;
    padding: 16px 18px 14px 18px;
    gap: 10px;
}
.book[read="false"] {
    background-image: linear-gradient(180deg, #f7bb3b, #f7bb3b 8px, rgb(255, 255, 255) 8px);
}

.book-name {
    font-size: 1.2rem;
}

.book-author::before {
    content: "by ";
}
.book-author {
    font-size: 0.8rem;
    font-weight: normal;
}

.book-pages {
    font-size: 0.9rem;
}

.book-read-indicator {
    font-size: 0.64rem;
}
.book[read="true"] > .book-read-indicator::before {
    content: "You have read this book.";
}
.book[read="false"] > .book-read-indicator::before {
    content: "You have not read this book.";
}

.book-card-separator {
    justify-self: center;
    border-radius: 9999px;
    width: 104%;
    height: 2px;
    background-color: #dadada;
}

.book-mark-as-read,
.book-remove {
    font-family: var(--nunito-font-family);
    font-size: 0.64rem;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    height: 1.4rem;
    width: 100%;
}
.book-mark-as-read {
    color: rgb(46, 46, 46);
    background-color: rgb(30, 216, 169);
}
.book-mark-as-read:hover {
    background-color: rgb(62, 235, 192);
}
.book-mark-as-read:active {
    background-color: rgb(16, 184, 142);
}
.book[read="false"] > .book-mark-as-read {
    background-color: #f7bb3b;
}
.book[read="false"] > .book-mark-as-read:hover {
    background-color: #fdcb5f;
}
.book[read="false"] > .book-mark-as-read:active {
    background-color: #dd9c11;
}
.book-remove,
.new-book-cancel {
    color: rgb(255, 255, 255);
    background-color: rgb(180, 40, 40);
}
.book-remove:hover,
.new-book-cancel:hover {
    background-color: rgb(211, 57, 57);
}
.book-remove:active,
.new-book-cancel:active {
    background-color: rgb(119, 19, 19);
}

.new-book-form-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.new-book-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin-top: -200px;
    margin-left: -200px;
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #3d3d3d;
    padding: 20px;
    gap: 10px;
}

.new-book-form-container > * {
    /* border: 1px solid #000; */
}

.form-title {
    text-align: center;
    font-size: 1.2rem;
    padding: 0px;
}

.form-title-separator {
    justify-self: center;
    border-radius: 9999px;
    width: 104%;
    height: 2px;
    background-color: #bdbdbd;
}

.new-book-form-container form li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    list-style: none;
}

.new-book-form-container form {
    display: grid;
}

.form-field-container label {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
}

.form-field-container input {
    font-size: 0.7rem;
    text-align: center;
    outline: none;
    border: 1px solid black;
    border-radius: 9999px;
    width: 290px;
    height: 1.4rem;
}
.form-field-container input[type="text"]:focus,
.form-field-container input[type="number"]:focus {
    outline: 1px solid black;
    background-color: rgba(0, 0, 0, 0.1);
}

.form-field-container input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin: 0px;
}

.new-book-create {
    justify-self: center;
    border: none;
}

.new-book-close-form {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: white;
    background-color: rgb(247, 69, 69);
}
.new-book-close-form::before{
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
    font-size: 1.2rem;
}